.transactionModal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background: rgba(0, 0, 0, 0.6);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 9999;
 }
 
 .modalContent {
   background: #fff;
   padding: 2rem;
   border-radius: 10px;
   width: 90%;
   max-width: 600px;
   position: relative;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
 }
 
 .closeButton {
   position: absolute;
   top: 1rem;
   right: 1rem;
   background: none;
   border: none;
   font-size: 1.2rem;
   cursor: pointer;
 }
 
 h2 {
   font-size: 1.5rem;
   margin-bottom: 1.5rem;
   text-align: center;
 }
 
 .transactionInfo {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }
 
 .transactionInfo div {
   width: 45%;
   margin-bottom: 1rem;
 }
 
 p {
   margin: 0;
   color: #333;
   font-size: 0.9rem;
 }
 
 .success {
   color: green;
 }
 
 .exportButton {
   display: block;
   width: 100%;
   margin-top: 2rem;
   padding: 0.75rem;
   background-color: #007bff;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   text-align: center;
 }
 
 .exportButton:hover {
   background-color: #0056b3;
 }
 
 .closeButton {
   position: absolute;
   top: 1rem;
   right: 1rem;
   background: none;
   border: none;
   font-size: 1.2rem;
   cursor: pointer;
 }
 
 .exportSuccessMessage {
   top: 0;
   position: fixed;
   right: 1rem;
   background-color: white;
   padding: 1rem 2rem;
   border: 1px solid #ddd;
   border-radius: 5px;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
   z-index: 9999;
 }
 
 .exportSuccessMessage p {
   margin: 0;
   color: green;
   font-size: 1rem;
 }
 
 .closeMessageButton {
   background: none;
   border: none;
   color: #333;
   font-size: 1.2rem;
   position: absolute;
   top: 0.5rem;
   right: 0.5rem;
   cursor: pointer;
 }
 
 @media (max-width: 768px) {
   .modalContent {
     width: 95%;
     padding: 1.5rem;
   }
 
   .transactionInfo div {
     width: 100%;
     margin-bottom: 1rem;
   }
 
   .exportSuccessMessage {
     width: 90%;
     left: 5%;
     right: 5%;
   }
 }
 